#main-checkout-page {
    width: 90%;
    margin: 20px auto;
}

.container-cart-item-checkout {
    background-color: #ffffff;
    padding: 40px;
    width: 80%;
    margin: 0px auto;
    animation: slideInUp 0.5s ease;
    position: relative;
}

.container-discount {
    width: 50%;
    margin: 0px auto;
    display: flex;
    padding: 10px 0 20px 0;
    justify-content: space-between;
    position: relative;
}

.form-discount {
    width: 80%;
    position: relative;
}

.discount-text {
    height: 50px;
    width: 95%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    transition: border-color 0.3s;
}

.discount-text:focus {
    border-color: #55D5D2;
}

.form-discount label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
}

.discount-text:focus+label,
.discount-text:not(:placeholder-shown)+label {
    top: 0px;
    font-size: 12px;
    color: #1E90FF;
    font-weight: 600;
}

.discount-text:focus+label {
    color: #221F20;
}

.discount-text:not(:placeholder-shown)+label {
    color: #333;
}

.discount-btn {
    height: 50px;
    width: 30%;
    padding: 10px 20px;
    background-color: #55D5D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.discount-btn:hover {
    background-color: #F58F5D;
}

#discount-error,
#discount-correct {
    position: absolute;
    bottom: -5px;
    font-size: 13px;
}


/* item trong cart */
.container-cart-product {
    width: 95%;
    margin: 0 auto;
}

.cart-product-left,
.cart-summary {
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}

.container-cart-item {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 20px;
}

.container-cart-item::-webkit-scrollbar {
    width: 5px;
}

.container-cart-item::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.container-cart-item::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.container-cart-item::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item-image {
    width: 13%;
    margin-right: 10px;
}

.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-info {
    display: flex;
}

.product-details {
    margin-bottom: 5px;
    display: flex;
    font-weight: 500;
    flex-direction: column;
}

.cart-item-name {
    font-weight: 700;
}

.quantity {
    display: flex;
    align-items: center;
}

.price {
    font-weight: 600;
    text-align: right;
    color: #1E90FF;
}

/*  */
.cart-bottom {
    width: 50%;
    margin: 0px auto;
    margin-top: 30px;
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 20px;
}

.temporary-price,
.transport-fee,
.discount-price,
.total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total-price {
    margin-bottom: 0;
    padding-top: 20px;
    border-top: 1px dashed #000;
}


.temporary-price p,
.transport-fee p,
.discount-price p,
.total-price p {
    font-weight: 600;
}

.temporary-price span,
.transport-fee span,
.discount-price span,
.total-price span {
    font-weight: 500;
    color: #55D5D2;
}

/*  */
.show-form-btn {
    display: block;
    padding: 15px 50px;
    width: 50%;
    color: #FFF;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
    border: 0;
    background-color: #55D5D2;
    transition: all ease-in-out 0.3s;
    font-weight: 600;
}

.show-form-btn:hover {
    background-color: #F58F5D;
}

/* form info */

.orders-form {
    width: 80%;
    margin: 0px auto;
    display: none;
    padding: 20px;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    margin-bottom: 20px;
}

@-webkit-keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.orders-form h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px;
}

.orders-form p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.container-form-group {
    display: flex;
    justify-content: space-between;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.flex-form-group {
    width: 49% !important;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #55D5D2;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
    top: 0px;
    font-size: 12px;
    color: #1E90FF;
    font-weight: 600;
}

.form-group input:focus+label {
    color: #221F20;
}

.form-group input:not(:placeholder-shown)+label {
    color: #333;
}

.orders-form textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
    padding: 10px;
}

.payment {
    margin-bottom: 20px;
}

.payment h3 {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.container-check-pay {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.container-check-pay input[type="radio"] {
    margin-right: 10px;
}

.orders-btn {
    width: 100%;
    padding: 15px 20px;
    background-color: #55D5D2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.orders-btn:hover {
    background-color: #F58F5D;
}

.note-checkout {
    text-align: center;
    font-size: 13px;
}