@media only screen and (max-width: 600px) {
    #footer-page {
        display: block;
        color: #fff;
    }

    .ft-top {
        background: linear-gradient(to bottom right, #555e63, #849396, #c7c3c0, #e2cdaf, #ecdbbf);
        padding: 10px 10px;
        justify-content: space-around;
        display: flex;
        gap: 10px;
    }

    .ft-top a {
        color: #FFF;
        font-weight: 700;
        font-size: 22px;
    }

    .ft-mid {
        background: url("../../images/Paint-splash-black-background.jpg");

    }

    .container-ft-mid {
        width: 95%;
        margin: 0px auto;
    }

    .container-img-ft-left {
        text-align: center;
        padding-top: 10px;
    }

    .container-img-ft-left img {
        width: 200px;
    }

    .ft-mid-left {
        border-bottom: 1px solid #eee;
    }

    .ft-mid-left h2 {
        margin: 20px 0 20px 0;
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        color: #DD9933;
    }

    .ft-mid-left p {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .ft-mid-left p a {
        color: #fff;
    }

    .ft-mid-left p:last-child {
        padding: 0 0 20px 0;
    }

    .ft-mid-left p i {
        margin-right: 5px;
    }

    .ft-mid-mid {
        margin-top: 20px;
        border-bottom: 1px solid #eee;
    }

    .ft-mid-mid h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    .ft-mid-mid p {
        font-size: 13px;
        margin-bottom: 10px;
        text-align: center;
    }

    .ft-mid-mid p:last-child {
        padding: 0 0 20px 0;
    }

    .ft-mid-right {
        margin-top: 20px;
    }

    .ft-mid-right h2 {
        text-transform: capitalize;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }

    .policy-item a i {
        color: #FFD400;
        margin-right: 5px;
    }

    .policy-item a span {
        color: #fff;
        font-weight: 600;
        text-transform: capitalize;
    }

    .container-contact {
        width: 80%;
        margin: 0px auto;
        text-align: center;
    }

    .input-contact {
        height: 40px;
        width: 80%;
        padding: 10px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid #FFD400;
    }

    .contact-btn {
        border: 1px solid #C6A300;
        height: 40px;
        width: 15%;
        background-color: #C6A300;
        color: #fff;
        border: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        font-weight: 600;
    }

    .contact-link-container {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        padding: 0 0 30px 0;
    }

    .contact-icon {
        color: #221F20;
    }

    .contact-link {
        color: #fff;
        color: #000;
        text-decoration: none;
        transition: transform 0.3s;
        background-color: #FFF;
        padding: 10px 30px;
        border-radius: 5px;

    }

    .fb-icon {
        color: #3b5998;
    }

    .mail-icon {
        color: #D14836;
    }

    .ytb-icon {
        color: #FF0000;
    }

    .pinterest-icon {
        color: #E60023;
    }

    .ft-bottom {
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        background: linear-gradient(to right, #001065 0, #008bd3 25%, #d40063 75%, #d4be00 100%);
        color: #FFF;
        padding: 10px 0;
    }

    .ft-bottom p {
        font-size: 13px;
    }
}