.bar-mobile-btn,
.close-bar-btn,
.search-box-mobile {
    display: none;
}

.wrapper-header-top {
    background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
}

.header-top {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    color: #FFF;
}

.header-top p {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.header-top-right {
    display: flex;
    gap: 20px;
}

.wrapper-header-bottom {
    background: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 25%, rgba(252, 185, 0, 1) 50%, rgba(255, 105, 0, 1) 75%, rgb(74, 234, 220) 100%);
}

.header-bottom {
    width: 90%;
    height: 90px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px 0;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-page img {
    width: 170px;
    transition: all ease-in-out 0.3s;
}

.logo-page:hover img {
    scale: 105%;
}

.container-nav-item {
    display: flex;
    gap: 20px;
    text-align: center;
    padding: 10px 0;
}

.nav-item {
    font-weight: 600;
}

.nav-item a {
    transition: all ease-in-out 0.3s;
}

.nav-item:hover a {
    color: #FFF;
}

.search-box {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-right: 20px;
    position: relative;
}

.search-text {
    background: #fff;
    border: none;
    outline: none;
    background: none;
    width: 230px;
    padding: 10px 10px 10px 20px;
    transition: all 0.50s ease-in-out;
    color: #221f20;
}

.search-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 15px;

}

.nav-right {
    display: flex;
    align-items: center;
}

.container-nav-right-item {
    display: flex;
    margin-left: 20px;
    gap: 30px;
    font-size: 20px;
}

.view-orders {
    padding-left: 40px;
    border-left: 1px solid #000;
}

@media only screen and (max-width: 600px) {
    .bar-mobile-btn {
        display: block;
        background: none;
        border: none;
        color: #FFF;
        font-size: 20px;
        cursor: pointer;
    }

    .header-top {
        width: 90%;
        margin: 0px auto;
        justify-content: center;
        padding: 5px 0;
        align-items: center;
        color: #FFF;
    }

    .header-top p {
        font-weight: 600;
        font-size: 10px;
    }

    .header-bottom {
        height: 60px;
        padding: 20px 0;
    }

    .logo-page img {
        width: 100px;
    }

    .nav-left {
        position: fixed;
        background-color: #eee;
        left: -100%;
        width: 50%;
        height: 100vh;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 1000;
        font-weight: 600;
        font-size: 13px;
    }

    .nav-left.show {
        left: 0;
    }

    .close-bar-btn {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
        height: 30px;
        background-color: #f44336;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .close-bar-btn i {
        font-size: 15px;
    }

    .close-bar-btn:active {
        background-color: #d32f2f;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .search-box-mobile {
        display: flex;
        width: 100%;
        padding: 5px 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .search-text-mobile {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        width: 90%;

    }

    .search-btn-mobile {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 10px;
    }

    .container-nav-item {
        flex-direction: column;
        display: flex;
        margin-top: 40px;
    }

    .nav-item {
        transition: all 0.3s ease;
        margin: -10px 0;
    }

    .nav-item.active a,
    .nav-item:hover a {
        background-color: aqua;
        color: #FFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-item a {
        display: block;
        padding: 20px;
        border-bottom: 1px solid #FFF;
        transition: all 0.3s ease;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .search-box {
        display: none;
    }

    .container-nav-right-item {
        display: flex;
        gap: 20px;
        font-size: 15px;
    }

    .view-orders {
        padding-left: 0;
        border-left: none;
    }
}

/* Styles for tablet */
@media only screen and (min-width: 601px) and (max-width: 1335px) {
    .bar-mobile-btn {
        display: block;
        background: none;
        border: none;
        color: #FFF;
        font-size: 20px;
        cursor: pointer;
    }

    .header-top {
        width: 90%;
        margin: 0px auto;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
        color: #FFF;
    }

    .header-top p {
        font-weight: 600;
        font-size: 10px;
    }

    .header-bottom {
        height: 70px;
        padding: 20px 0;
    }

    .logo-page img {
        width: 120px;
    }

    .nav-left {
        position: fixed;
        background-color: #eee;
        left: -100%;
        width: 35%;
        height: 100vh;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 1000;
        font-weight: 600;
        font-size: 13px;
    }

    .nav-left.show {
        left: 0;
    }

    .close-bar-btn {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
        height: 30px;
        background-color: #f44336;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .close-bar-btn i {
        font-size: 20px;
    }

    .close-bar-btn:active {
        background-color: #d32f2f;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .search-box-mobile {
        display: flex;
        width: 100%;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .search-text-mobile {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        width: 90%;
    }

    .search-btn-mobile {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 10px;

    }

    .container-nav-item {
        flex-direction: column;
        display: flex;
        margin-top: 40px;
    }

    .nav-item {
        transition: all 0.3s ease;
        margin: -10px 0;
    }

    .nav-item.active a,
    .nav-item:hover a {
        background-color: aqua;
        color: #FFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-item a {
        display: block;
        padding: 20px;
        border-bottom: 1px solid #FFF;
        transition: all 0.3s ease;
    }


    .nav-right {
        display: flex;
        align-items: center;
    }

    .search-box {
        display: none;
    }

    .container-nav-right-item {
        display: flex;
        gap: 20px;
        font-size: 16px;
    }
}