@media only screen and (max-width: 600px) {
    .container-banner-news {
        width: 95%;
        margin: 10px auto;
    }

    .banner-news {
        display: flex;
        justify-content: space-between;
    }

    .news-item {
        position: relative;
        width: 32%;
        height: 85px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
    }

    .news-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        z-index: 0;
    }

    .news-item:hover img {
        transform: scale(1.05);
    }

    .news-item span {
        position: relative;
        z-index: 1;
        /* background-color: rgba(0, 0, 0, 0.5); */
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .news-item span::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .news-item h1 {
        font-size: 15px;
        font-weight: 700;
        margin: 0;
    }

    .news-item p {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        margin-top: 10px;
    }
}